/* External CSS */

/* Css variables */
:root{
  --primaryColor: #153243;
  --secondaryColor:#284B63;
  --accentColor:#B4B8AB;
  
  --sizingSmall:5px;
  --sizingMedium:8px;
  --sizingLarge:20px;

  --primaryFontFamily: "Times";
  --secondaryFontFamily: "Helvetica";

}

/* Global CSS */
.fullScreen{
  min-width: 100vh;
}

.cardWidth{
  max-width: 300px;
}

.split{
  width:50%;
}

.flexRowCenter
{
  display:flex;
  justify-content: center;
  align-items: center;
}

.flexColCenter{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listNoDot
{
  list-style-type: none;
}


/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */

  background-color: var(--primaryColor);
  color: #0d0d0d;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sizingMedium) 0;
  border-bottom: var(--sizingSmall) solid var(--secondaryColor);
}

.headerLogo {
  padding: var(--sizingMedium);
  border: 2px solid black;
  border-radius: 50%;
}

ul {
  display: flex;
  justify-content: end;
  gap: var(--sizingLarge);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MAIN */
main {
  height: 100vh;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  border-top: 5px solid var(--secondaryColor);
}
